<!doctype html>
<html data-layout-decorate="~{shopfragments/layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <meta name="description" th:attr="content=${notes.details}"
          content="Sell your notes to make easily students money.">


    <title th:text="${notes.ClassnameName}">checkout</title>
    <!--<link rel="stylesheet" href="/css/etalage.css">-->
    <link href="/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">


</head>
<body>

<div class="container" data-layout-fragment="content">
    <div class="women_main">
        <!-- start content -->
        <div class="row single">
            <div class="col-md-9 det">
                <div class="single_left">
                    <div class="grid images_3_of_2">
                        <ul id="etalage">
                            <li>
                                <a href="optionallink.html">
                                    <img class="etalage_thumb_image img-responsive" src="/images/d1.jpg"
                                         th:src="${notes.imagePath}"/>
                                </a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="desc1 span_3_of_2">
                        <h3 th:text="${notes.ClassnameName}">soluta nobis eleifend option</h3>
                        <span class="brand">Professor: [[${notes.ProfessorName}]]</span>
                        <br>
                        <span class="code">Date: [[${notes.DateName}]]</span>
                        <p th:text="'Major: '+${notes.MajorName}">when an unknown printer took a galley of type and
                            scrambled it to make</p>
                        <div class="price">
                            <span class="text">Price:</span>
                            <span class="price-new" th:text="${notes.truthprice}">$110.00</span>
                            <span class="price-old" th:if="${notes.truthsale.name() == 'SALE'}"

                                  th:text="${notes.price}">$100.00</span>
                        </div>


                        <div class="btn_form" th:if="${notes.isown.name()=='OTHERS'}">
                            <a th:id="${notes.idClassUserTable}" onclick="buy(this.id)">buy</a>
                        </div>


                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="single-bottom1">
                    <h6>Details</h6>
                    <p class="prod-desc" th:text="${notes.details}">Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh
                        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                        quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                        consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
                        dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                        facilisi. Nam liber tempor cum soluta nobis eleifend option</p>
                </div>
                <div class="single-bottom2">
                    <h6>Comments</h6>
                    <div class="ui comments">
                        <div class="comment">
                            <a class="avatar">
                                <img src="/images/user.png">
                            </a>
                            <div class="content">
                                <a class="author">Matt</a>
                                <div class="metadata">
                                    <span class="date">Today at 5:42PM</span>
                                </div>
                                <div class="text">
                                    How artistic!
                                </div>

                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="/images/user.png">
                            </a>
                            <div class="content">
                                <a class="author">Elliot Fu</a>
                                <div class="metadata">
                                    <span class="date">Yesterday at 12:30AM</span>
                                </div>
                                <div class="text">
                                    <p>This has been very useful for my research. Thanks as well!</p>
                                </div>

                            </div>
                            <div class="comments">
                                <div class="comment">
                                    <a class="avatar">
                                        <img src="/images/user.png">
                                    </a>
                                    <div class="content">
                                        <a class="author">Jenny Hess</a>
                                        <div class="metadata">
                                            <span class="date">Just now</span>
                                        </div>
                                        <div class="text">
                                            Elliot you are always so right :)
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="/images/user.png">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Dude, this is awesome. Thanks so much
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div data-th-replace="shopfragments/fragment-rank-option :: rank-option"></div>

            <div class="clearfix"></div>
        </div>
        <!-- end content -->
    </div>

    <!--<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>-->

    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>

</div>

</body>
</html>


<script src="/vendors/pnotify/dist/pnotify.js"></script>
<script src="/vendors/pnotify/dist/pnotify.buttons.js"></script>
<script src="/vendors/pnotify/dist/pnotify.nonblock.js"></script>



<script>
    function buy(id) {

        var formData = new FormData();


        formData.append("idclass", id);


        $.ajax({
            url: '/admin/singleorder',
            data: formData,
            type: 'POST',
            contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
            processData: false, // NEEDED, DON'T OMIT THIS

            success: function (msg) {
                console.log(msg);

                if (msg.info === '1') {

                    window.location.href = msg.redirect;

                } else if (msg.info === '0') {

                    new PNotify({
                        title: 'Sorry!',
                        text: 'You do not have enough money.',
                        type: 'error',
                        styling: 'bootstrap3'
                    })

                } else {

                    $("html").html(msg);

                }

            },
            error: function (msg) {
                new PNotify({
                    title: 'Oh No!',
                    text: 'HTTP Request Failed',
                    type: 'error',
                    styling: 'bootstrap3'
                })
            }
        });

    }
</script>
