<!DOCTYPE HTML>
<html lang="en" data-layout-decorate="~{shopfragments/layout}" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="Sell your study resources to make easily student money. Instant access to millions of Study Resources. Improve your scores.">

    <title>PassGPA - Notes Platform</title>
</head>
<body>


<div class="arriv" data-layout-fragment="content">

    <h1></h1>
    <p style="margin-left: 40px ; color: black"><b>Welcome to the PassGPA Homepage!! PassGPA, Inc. is an education
        technology company
        that aims to be the largest online marketplace for college study material. </b></p>
    <p style="margin-left: 40px ; color: black"><b>We understand that college is expensive and money is scarce, so why
        not profit from
        all of your hard work? Our online platform conveniently allows students to upload their notes to our website and
        sell them to their peers. Making effective study notes will boost your grades and give you some extra money to
        put away for student loans, going out with friends, or even some extra coffee cash for finals week.
    </b></p>
    <p style="margin-left: 40px ; color: black"><b>Our site also allows students to purchase study material for entire
        courses offered
        at their university for a low cost. Simply browse our list of courses offered and get instant access to study
        material created by high achieving students who have taken the same exact course!
    </b></p>
    <p style="margin-left: 40px; color: black"><b>FOR FIRST TIME SITE USERS PLEASE READ THE GUIDE BY CLICKING THE LINK
        BELOW!! It
        contains important information such as how to navigate our site, how to use our site, as well as an FAQ page for
        your convenience. We thank you and hope that you take advantage of our online platform to motivate you to
        succeed in your studies and profit from all of your hard work.</b></p>
    <div style="text-align: center;"><b><a href="/vendors/pdf/web/viewer.html?file=/Embed-Site-Guide.pdf"
                                           target="_blank">>> CLICK HERE TO START
        MAKING MONEY NOW! <<</a></b></div>
    <div class="container">
        <div class="arriv-top">
            <div class="col-md-6 arriv-left">
                <img src="/images/1.jpg" class="img-responsive" alt="">
                <div class="arriv-info">
                    <h3>NEW</h3>
                    <p>IMPROVE YOUR SCORES WITH STUDY RESOURCES</p>
                    <div class="crt-btn">
                        <a href="/catalogue">TAKE A LOOK</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 arriv-right">
                <img src="/images/2.jpg" class="img-responsive" alt="">
                <div class="arriv-info">
                    <h3>HOT</h3>
                    <p>IMPROVE YOUR SCORES WITH STUDY RESOURCES</p>
                    <div class="crt-btn">
                        <a href="/catalogue">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="arriv-bottm">
            <div class="col-md-8 arriv-left1">
                <img src="/images/3.jpg" class="img-responsive" alt="">
                <div class="arriv-info1">
                    <h3>POPULAR</h3>
                    <p>IMPROVE YOUR SCORES WITH STUDY RESOURCES</p>
                    <div class="crt-btn">
                        <a href="/catalogue">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 arriv-right1">
                <img src="/images/4.jpg" class="img-responsive" alt="">
                <div class="arriv-info2">
                    <a href="/catalogue"><h3>STUDY RESOURCES<i class="ars"></i></h3></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="arriv-las">
            <div class="col-md-4 arriv-left2">
                <img src="/images/5.jpg" class="img-responsive" alt="">
                <div class="arriv-info2">
                    <a href="/catalogue"><h3>PRICE<i class="ars"></i></h3></a>
                </div>
            </div>
            <div class="col-md-4 arriv-middle">
                <img src="/images/6.jpg" class="img-responsive" alt="">
                <div class="arriv-info3">
                    <h3>RATE</h3>
                    <div class="crt-btn">
                        <a href="/catalogue">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 arriv-right2">
                <img src="/images/7.jpg" class="img-responsive" alt="">
                <div class="arriv-info2">
                    <a href="/catalogue"><h3>SCHOOLS<i class="ars"></i></h3></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="special">
    <div class="container">
        <h3>Special Offers</h3>
        <div class="specia-top">
            <ul class="grid_2">
                <li>
                    <a href="/catalogue"><img src="/images/8.jpg" class="img-responsive" alt=""></a>
                    <div class="special-info grid_1 simpleCart_shelfItem">
                        <h5>Lorem ipsum dolor</h5>
                        <div class="item_add"><span class="item_price"><h6>ONLY $40.00</h6></span></div>
                        <div class="item_add"><span class="item_price"><a href="#">add to cart</a></span></div>
                    </div>
                </li>
                <li>
                    <a href="/catalogue"><img src="/images/9.jpg" class="img-responsive" alt=""></a>
                    <div class="special-info grid_1 simpleCart_shelfItem">
                        <h5>Consectetur adipis</h5>
                        <div class="item_add"><span class="item_price"><h6>ONLY $60.00</h6></span></div>
                        <div class="item_add"><span class="item_price"><a href="#">add to cart</a></span></div>
                    </div>
                </li>
                <li>
                    <a href="/catalogue"><img src="/images/10.jpg" class="img-responsive" alt=""></a>
                    <div class="special-info grid_1 simpleCart_shelfItem">
                        <h5>Commodo consequat</h5>
                        <div class="item_add"><span class="item_price"><h6>ONLY $14.00</h6></span></div>
                        <div class="item_add"><span class="item_price"><a href="#">add to cart</a></span></div>
                    </div>
                </li>
                <li>
                    <a href="/catalogue"><img src="/images/11.jpg" class="img-responsive" alt=""></a>
                    <div class="special-info grid_1 simpleCart_shelfItem">
                        <h5>Voluptate velit</h5>
                        <div class="item_add"><span class="item_price"><h6>ONLY $37.00</h6></span></div>
                        <div class="item_add"><span class="item_price"><a href="#">add to cart</a></span></div>
                    </div>
                </li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
</div>


</body>
</html>