<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{shopfragments/layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <meta name="description"
          content="Sell your study resources to make easily student money. Instant access to millions of Study Resources. Improve your scores.">
</head>
<body>
<div class="arriv" data-layout-fragment="content">
    <div class="container">

        <div class="main">
            <!-- start registration -->
            <div class="registration">
                <div class="registration_left">
                    <h2>new user? <span> create an account </span></h2>
                    <!-- [if IE]
                        < link rel='stylesheet' type='text/css' href='ie.css'/>
                     [endif] -->

                    <!-- [if lt IE 7]>
                        < link rel='stylesheet' type='text/css' href='ie6.css'/>
                    <! [endif] -->
                    <script>
                        (function () {

                            // Create input element for testing
                            var inputs = document.createElement('input');

                            // Create the supports object
                            var supports = {};

                            supports.autofocus = 'autofocus' in inputs;
                            supports.required = 'required' in inputs;
                            supports.placeholder = 'placeholder' in inputs;

                            // Fallback for autofocus attribute
                            if (!supports.autofocus) {

                            }

                            // Fallback for required attribute
                            if (!supports.required) {

                            }

                            // Fallback for placeholder attribute
                            if (!supports.placeholder) {

                            }

                            // Change text inside send button on submit
                            var send = document.getElementById('register-submit');
                            if (send) {
                                send.onclick = function () {
                                    this.innerHTML = '...Sending';
                                }
                            }

                        })();
                    </script>
                    <div class="registration_form">
                        <!-- Form -->
                        <form id="registration_form" th:action="@{/registration}" th:object="${userForm}" method="post">

                            <h1>Create Account</h1>


                            <div>
                                <label>
                                    <input placeholder="User name:" type="text" tabindex="1" name="username" required
                                           autofocus>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input placeholder="email address:" type="email" tabindex="2" name="email" required>
                                </label>
                            </div>
                            <div class="sky-form">
                                <div class="sky_form1">
                                    <ul>
                                        <li>
                                            <label class="radio left">
                                                <input type="radio" name="radio" checked=""><i></i>Male</label>
                                        </li>
                                        <li><label class="radio"><input type="radio" name="radio"><i></i>Female</label>
                                        </li>
                                        <div class="clearfix"></div>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <label>
                                    <input placeholder="password" type="password" tabindex="4" required>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input placeholder="retype password" type="password" tabindex="4" name="password"
                                           required>
                                </label>
                            </div>
                            <div>
                                <input type="submit" value="create an account" id="register-submit">
                            </div>
                            <div class="sky-form">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>i agree to
                                    passgpa.com
                                    &nbsp;<a class="terms" onClick="getTerms();"> terms of service</a> and <a
                                            class="terms"
                                            onClick="getPrivacy();">Privacy
                                        Policy</a> </label>
                            </div>
                        </form>
                        <!-- /Form -->
                    </div>
                </div>
                <div class="registration_left">
                    <h2>existing user</h2>
                    <div class="registration_form">
                        <!-- Form -->
                        <form id="registration" th:action="@{/login}" method="post">
                            <div>
                                <label>
                                    <input placeholder="email:" type="email" name="username" required>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input placeholder="password" type="password" name="password" required>
                                </label>
                            </div>
                            <div>
                                <input type="submit" value="sign in">
                            </div>
                            <dxiv class="forget">
                                <a href="#">forgot your password</a>
                            </dxiv>
                        </form>
                        <!-- /Form -->
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- end registration -->
        </div>

    </div>
</div>
</body>
</html>

<div data-th-replace="shopfragments/flagment-termofuser-content:: termofuser-content"></div>


<script>

    function getTerms() {

        $('#termuser')
            .modal({
                inverted: true
            })
            .modal('show')
            .modal('refresh')
        ;

    }


    function getPrivacy() {

        $('#privacy')
            .modal({
                inverted: true
            })
            .modal('show')
            .modal('refresh')
        ;

    }


</script>